<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voiprecord"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--    android:sharedUserId="android.uid.system" >-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    projection相关-->
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION" />
    <!--    录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--    REMOTE_SUBMIX音源需要CAPTURE_AUDIO_OUTPUT权限-->
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <!--    录音后保存文件，以及播放时读取-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    audio routing-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING" />
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
<uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoipRecord">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".FloatingControlService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:configChanges="orientation|screenSize"
            android:foregroundServiceType="microphone"/>

        <service
            android:name=".VoipRecordService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
    </application>

</manifest>